.logo {
    border-radius: 50%;
   
}

.btn-logout {
    margin-left: auto;
   
    margin-right: 800rem;
    
}

.header-gradient {
  background: linear-gradient(to bottom, #212529, #6c757d); 
  color: white;
}

