<header class="bg-dark text-white py-1">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="../../../assets/Cooperadora-Escuela.png" alt="Logo de la cooperadora" class="logo me-3" style="height: 60px;" />
                <h1 class="h2 mb-0">Cooperadora Escuela</h1>
            </div>

            
      <div class="d-flex align-items-center">

        <!-- Menú perfil -->
        <div class="dropdown me-3" *ngIf="menuProfile">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
             href="#"
             role="button"
             id="dropdownUser"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="fas fa-user-circle fa-2x"></i>
           
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
            <!-- Visible solo para admins -->
    <li *ngIf="isAdminUser">
      <a class="dropdown-item" [routerLink]="['/list-users']">Panel de administrador</a>
    </li>
            <li><a class="dropdown-item" [routerLink]="['/profile']">Mi perfil</a></li>
            <li><button class="dropdown-item" (click)="logout()">Cerrar sesión</button></li>
          </ul>
        </div>

       
        <i class="bi bi-cart-fill text-white fs-4" style="cursor: pointer;"></i>
      </div>
        </div>
    </div>
</header>