.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra más pronunciada */
}

.btn-primary {
    background-color: #007bff;
    /* Color azul primario */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Color azul más oscuro al pasar el mouse */
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    /* Color gris secundario */
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    /* Color gris más oscuro al pasar el mouse */
    border-color: #5a6268;
}

.btn-success {
    background-color: #28a745;
    /* Color verde de éxito */
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    /* Color verde más oscuro al pasar el mouse */
    border-color: #218838;
}