<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="custom-color">Juan Bautista Alberdi</h5>
                <p>Dirección: España N° 234, Córdoba, Argentina</p>
                <p>Teléfono: +54 3521-534672</p>
            </div>
            <div class="col-md-6 text-end">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Política de privacidad</a></li>
                    <li><a href="#" class="text-white">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy; 2025. Juan Bautista Alberdi. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>