.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra más pronunciada */
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
    /* Ajusta según sea necesario */
    margin-right: 0.5rem;
}

.cart-item-price {
    margin-right: 0.5rem;
}

.cart-item-button {
    min-width: 80px;
    /* Ancho mínimo del botón */
}

.btn-danger {
    background-color: #dc3545;
    /* Color rojo de peligro */
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    /* Color rojo más oscuro al pasar el mouse */
    border-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    /* Color amarillo de advertencia */
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    /* Color amarillo más oscuro al pasar el mouse */
    border-color: #e0a800;
}

.btn-success {
    background-color: #28a745;
    /* Color verde de éxito */
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    /* Color verde más oscuro al pasar el mouse */
    border-color: #218838;
}