<div class="position-fixed top-0 end-0 m-3" style="z-index: 1000; max-width: 350px;">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="card-title text-center">Carrito de Compras</h2>
        </div>
        <div class="card-body">
            <div *ngIf="cart.length === 0">
                <p class="text-center">El carrito está vacío.</p>
            </div>
            <div *ngIf="cart.length > 0">
                <ul class="list-group mb-4">
                    <li class="list-group-item cart-item" *ngFor="let product of cart">
                        <div class="cart-item-content">
                            <span class="cart-item-name">{{ product.name }}</span>
                            <span class="cart-item-price">${{ product.price }}</span>
                            <button class="btn btn-danger btn-sm cart-item-button" (click)="removeFromCart(product)">
                                <i class="fas fa-trash"></i> Eliminar
                            </button>
                        </div>
                    </li>
                </ul>
                <h3 class="text-end">Total: ${{ total }}</h3>
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" (click)="clearCart()">Vaciar Carrito</button>
                    <button class="btn btn-success" (click)="goToCheckout()">Proceder al Pago</button>
                </div>
            </div>
        </div>
    </div>
</div>