body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    /* Aplica la fuente Josefin Sans a todo el cuerpo */
    background-color: #f0f0f0;
    /* Color de fondo claro (opcional) */
    color: #222;
    /* Color de texto (opcional) */
    margin: 0;
    /* Elimina márgenes por defecto */
    padding: 0;
    /* Elimina padding por defecto */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    /* Aplica la fuente a los encabezados */
    color: #222;
}

.card-title {
    font-size: 1.5rem;
    /* Tamaño de fuente para títulos de tarjetas */
    font-weight: 600;
    /* Negrita */
    color: #222;
}

.card-text {
    font-size: 1rem;
    /* Tamaño de fuente para texto de tarjetas */
    color: #222;
    /* Color de texto más suave */
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
    /* Aplica la fuente a los botones */
    color: #222;
}