<div class="container product-list mt-5">
    <h2 class="text-center product-title mb-4">PRODUCTOS</h2>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
            <div class="card text-center h-100 shadow-sm">
                <img [src]="product.image" alt="{{ product.name }}" class="card-img-top product-image" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Precio: ${{ product.price }}</p>
                    <div class="mt-auto">
                        <button class="btn btn-primary btn-sm me-2" (click)="addToCart(product)">
                            <i class="fas fa-cart-plus"></i> Agregar
                        </button>
                        <button class="btn btn-danger btn-sm me-2" (click)="deleteProduct(product.id)">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                        <button class="btn btn-warning btn-sm" (click)="editProduct(product)">
                            <i class="fas fa-edit"></i> Editar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>