
<main>
    <div class="container py-2">
  
      <div class="p-5 mb-4 bg-body-tertiary rounded-3 custom-jumbotron">
        <div class="container-fluid py-3 rounded-3 bg-dark p-2 text-white bg-opacity-75">
          <!-- <h1 class="display-4 fw-bold text-dark">Cooperadora Escuela</h1> -->
          <p class="col-md-8 fs-3">
            Nuestra cooperadora trabaja en conjunto con la escuela, las familias y la comunidad para fomentar un ambiente educativo inclusivo, seguro y de calidad. Juntos, buscamos proporcionar las herramientas necesarias para el crecimiento integral de nuestros estudiantes.</p>
        </div>
      </div>
      
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3 productos">
            <h2>Productos Escolares</h2>
            <!-- <p></p> -->
            <button class="btn btn-primary d-block mt-3 text-white" type="button">Ver catálogo</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3 cuotas">
            <h2>Abonar cuotas</h2>
            <!-- <p></p> -->
            <button class="btn btn-primary d-block mt-3 text-white" type="button">Ir a pagos</button>
          </div>
        </div>
      </div>
    </div>
</main>
