<main>
    <button class="btn btn-outline-secondary mb-3" [routerLink]="['/admin-panel']">Volver</button>
<div class="usuarios-container" >
    <h2>Lista de Usuarios</h2>
    <table>
      <thead>
        <tr>
        <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>DNI</th>
          <th>Turno</th>
          <th>Curso/Año</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <!-- Mostrar los datos cuando no se está editando -->
          <td *ngIf="editingUserId !== user.id">{{ user.id }}</td>
          <td *ngIf="editingUserId !== user.id">{{ user.first_name }}</td>
          <td *ngIf="editingUserId !== user.id">{{ user.last_name }}</td>
          <td *ngIf="editingUserId !== user.id">{{ user.email }}</td>
          <td *ngIf="editingUserId !== user.id">{{ user.dni }}</td>
          <td *ngIf="editingUserId !== user.id">{{ user.shift }}</td>
          <td *ngIf="editingUserId !== user.id">{{ user.grade_year }}</td>
  
          <!-- Mostrar campos de edición cuando se está editando -->
          <td *ngIf="editingUserId === user.id">
            <span class="form-control">{{ user.id }}</span> 
          </td>
          <td *ngIf="editingUserId === user.id">
            <input [(ngModel)]="editData.first_name" placeholder="Nombre" class="form-control"/>
          </td>
          <td *ngIf="editingUserId === user.id">
            <input [(ngModel)]="editData.last_name" placeholder="Apellido" class="form-control"/>
          </td>
          <td *ngIf="editingUserId === user.id">
            <input [(ngModel)]="editData.email" placeholder="Email" class="form-control"/>
          </td>
          <td *ngIf="editingUserId === user.id">
            <input [(ngModel)]="editData.dni" placeholder="DNI" class="form-control"/>
          </td>
          <td *ngIf="editingUserId === user.id">
            <input [(ngModel)]="editData.shift" placeholder="Turno" class="form-control"/>
          </td>
          <td *ngIf="editingUserId === user.id">
            <input [(ngModel)]="editData.grade_year" placeholder="Curso/Año" class="form-control"/>
          </td>
  
          <!-- Acciones (Editar y Eliminar) -->
          <td>
            <button *ngIf="editingUserId !== user.id" (click)="editUser(user.id)" class="btn btn-primary btn-sm text-white me-2">Editar</button>
            <button *ngIf="editingUserId !== user.id" (click)="deleteUser(user.id)" class="btn btn-danger btn-sm text-white">Eliminar</button>
  
            <!-- Botones de guardar y cancelar edición -->
            <button *ngIf="editingUserId === user.id" (click)="saveUser() "class="btn btn-success btn-sm text-white me-2" >Guardar</button>
            <button *ngIf="editingUserId === user.id" (click)="cancelEdit()" class="btn btn-secondary btn-sm text-white">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</main>